*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.navbar{
    background-color: white;
    position: sticky;
    top: 0px;
    height: 15vh;
    /* border: 2px solid black; */
    box-shadow: 1vh 1vh rgb(236, 236, 236);
    display: grid;
    grid-template-columns: 80% 20%;
    font-size: 15px;
}
.left{
    display: flex;
    flex-direction: row;
    margin-left: 10vh;
}
.left img{
    margin-top: 20px;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
}
.left h2{
    margin-top: 36px;
    margin-right: 30px;
}
.right img{
    fill: rgb(0, 153, 255);
    color: rgb(0, 153, 255);
    width: 7vh;
    height: 7vh;
    margin-left: 30px;
    margin-top: 7vh;
}
/*Header*/
.name{
    height: 500vh;
    margin-top: 7vh;
    text-align: center;
}
.name h2{
    font-size: 1.0625rem;
}
.name img{
    margin-top: 20px;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
}
.name p{
    margin-top: 5px;
    color: rgb(117, 117, 117);
}
.name h4{
    margin-top: 10vh;
    color: rgb(109, 109, 109);
}
.leftUnknown{
    display: flex;
    height: 30vh;
}
.leftUnknown img{
    margin-top: 20px;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    margin-left: 10vh;
    margin-top: 10vh;
}
.Unknown{
    height: 7vh;
    width: 45vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
    border-radius: 20px;
    background-color: rgb(231, 231, 231);
    margin-left: 1vh;
    margin-top: 10vh;
}
.me{
    height: 7vh;
    width: 45vh;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    border-radius: 20px;
    background-color: rgb(231, 231, 231);
    margin-left: 1vh;
    margin-top: 15vh;
    position: relative;
    left: 990px;
    background-color: rgb(0, 132, 255);
    color: white;
}
.footer{
    display: flex;
    height: 14vh;
    padding-top: 20px;
    padding-left: 10px;
    background-color: white;
    box-shadow: 1vh 1vh rgb(236, 236, 236);
    border: 2px solid rgb(241, 239, 239);
    position: sticky;
    bottom: 0px;
}
.text
{
    height: 7vh;
    width: 200vh;
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 20px;
    background-color: rgb(231, 231, 231);
    margin-left: 1vh;
    margin-top: 0vh;

}
.footer button{
    border: none;
    background-color: white;
    border-radius: 50%;
}
.footer button img{
    height: 7vh;
    background-color: white;
}
.footer button :hover{
    transform: scale(1.04);
    cursor: pointer;
    background-color: rgb(212, 212, 212);
}
.footer button img:hover{
    border-radius: 50%;
}
@media only screen and (max-width:700px){
    .navbar{
        background-color: white;
        position: sticky;
        top: 0px;
        height: 10vh;
        /* border: 2px solid black; */
        box-shadow: 1vh 1vh rgb(236, 236, 236);
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 15px;
    }
    .left{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-left: 0vh;
    }
    .left img{
        margin-top: 0px;
        height: 7vh;
        width: 7vh;
        border-radius: 100%;
    }
    .left h2{
        margin-top: 16px;
        margin-right: 0px;
    }
    .right img{
        fill: rgb(0, 153, 255);
        color: rgb(0, 153, 255);
        width: 3vh;
        height: 3vh;
        margin-left: 20px;
        margin-top: 3vh;
    }
    /*Header*/
    .name{
        height: 500vh;
        margin-top: 7vh;
        text-align: center;
    }
    .name h2{
        font-size: 1.0625rem;
    }
    .name img{
        margin-top: 20px;
        height: 15vh;
        width: 15vh;
        border-radius: 50%;
    }
    .name p{
        margin-top: 5px;
        color: rgb(117, 117, 117);
    }
    .name h4{
        margin-top: 10vh;
        color: rgb(109, 109, 109);
    }
    .leftUnknown{
        display: flex;
        height: 30vh;
    }
    .leftUnknown img{
        margin-top: 20px;
        height: 5vh;
        width: 5vh;
        border-radius: 50%;
        margin-left: 0vh;
        margin-top: 0vh;
    }
    .Unknown{
        height: 7vh;
        width: 35vh;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 10px;
        border-radius: 20px;
        background-color: rgb(231, 231, 231);
        margin-left: 1vh;
        margin-top: 0vh;
        font-size: 15px;
    }
    .me{
        height: 7vh;
        width: 35vh;
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 10px;
        border-radius: 20px;
        background-color: rgb(231, 231, 231);
        margin-left: 1vh;
        margin-bottom: 22vh;
        position: relative;
        left: 60px;
        background-color: rgb(0, 132, 255);
        color: white;
    }
    .footer{
        display: flex;
        height: 14vh;
        padding-top: 20px;
        padding-left: 0px;
        background-color: white;
        box-shadow: 1vh 1vh rgb(236, 236, 236);
        border: 2px solid rgb(241, 239, 239);
        position: sticky;
        bottom: 0px;
    }
    .text
    {
        height: 7vh;
        width: 200vh;
        display: flex;
        padding-left: 20px;
        padding-top: 20px;
        border-radius: 20px;
        background-color: rgb(231, 231, 231);
        margin-left: 1vh;
        margin-top: 0vh;
    
    }
    .footer button{
        border: none;
        background-color: white;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .footer button img{
        height: 5vh;
        margin-left:2px;
        background-color: white;
    }
    .footer button :hover{
        transform: scale(1.04);
        cursor: pointer;
        background-color: rgb(212, 212, 212);
    }
    .footer button img:hover{
        border-radius: 50%;
    }   
}